<h1>missing gata handeling</h1>

In [1]:
import pandas as pd

In [16]:
df1=pd.read_csv("C:\\Users\\abhishek maurya\\Desktop\\Missing data handeling.csv")

In [17]:
df1

   a  1    5     8
0  b  2  6.0   9.0
1  c  3  NaN  10.0
2  d  4  7.0   NaN

In [18]:
df=df1.iloc[:,1:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
1    3 non-null int64
5    2 non-null float64
8    2 non-null float64
dtypes: float64(2), int64(1)
memory usage: 152.0 bytes

In [22]:
df.isnull().sum()#returns the number of null values as per column

1    0
5    1
8    1
dtype: int64

In [23]:
df.dropna(thresh=4)#drop rows that have less then 4 real values
df.dropna(subset=["1"])

   1    5     8
0  2  6.0   9.0
1  3  NaN  10.0
2  4  7.0   NaN

In [24]:
from sklearn.preprocessing import Imputer

In [25]:
temp=Imputer(missing_values="NaN",strategy="mean",axis=1)

E:\installllll\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [26]:
#temp.fit(df.values)
#df

   1    5     8
0  2  6.0   9.0
1  3  NaN  10.0
2  4  7.0   NaN

In [27]:
#imp=temp.transform(df.values)

In [28]:
imp

array([[ 2. ,  6. ,  9. ],
       [ 3. ,  6.5, 10. ],
       [ 4. ,  7. ,  5.5]])